body {
    margin: 0;
    position: relative;
}

@font-face {
    src: url(Bilder-Material/Inter.ttf);
    font-family: Standard;
}

* {
    font-family: Standard;
}

#Pagecontainer {
    max-width: 1000px;
    margin: 150px auto 0px;
}

/* Completed Fixed Nav */

#navcontainer {
    margin-left: 12px;
    margin-right: 12px;

    background-color: white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    border-bottom: 1px solid #e5e5e5;
    padding: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 550;
}

.navlink:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

#navleft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#navcontainer img {
    height: 23px;
    margin-right: 10px;
}

#navright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#streck {
    width: 1px;
    height: 18px;
    background-color: rgb(187, 187, 187);
}

#barkyknapp {
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: #050505;
    border-radius: 5px;
}

#barkyknapp:hover {
    opacity: .8;
}

/* Team-Hero Container */

#teamherocontainer {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px
}

#teamherocontainer img {
    height: 300px;
}

#teamherotext a {
    padding: 8px 12px 8px 12px;
}

#teamherotext h1 {
    font-size: 50px;
    font-weight: 800;

    margin: 0;
}

#teamherotext p {
    font-size: 19px;
    padding: 0px 0px 20px 0px;

    color: #7f7f7f;
}

/* Company Container */

#companycontainer {
    margin-top: 65px;
    margin-bottom: 65px;

    padding: 15px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#companycontainer img {
    height: 25px;

}

#topcompany {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;


    gap: 25px; 
}

#bottomcompany {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    gap: 35px;
}

/* Furry Friends Text */ 

#furryfriendscontainer {
    margin: 0;
}

#furryfriendstext {
    max-width: 500px;
}

#furryfriendstext h2 {
    font-size: 37px;
    margin: 0;
}

#furryfriendstext p {
    margin: 8px 0px 0px 0px;
    padding-right: 5px;

    color: #7f7f7f;
}